{% extends 'layout/lateral.html' %}
{% load static %}

{% block content %}
<!-- falta logica para ingresar saldo solo para un sobre que realmente es la misma que retirar pero al revez -->
{% if sobres %}
<div class="presentacionRetiro">
    {% for sobre in sobres %}
    <div class="presentacionRetiroHijo">
        <p>
            Nombre del sobre:
            {{ sobre.nombre }} <br>
            Saldo:
            {{ sobre.saldo }}
        </p>
    </div>

    {% endfor %}
</div>
<div class="retiro">
    <form action="{% url 'ingresoUnoConfirmacion' %}" method="post">
        {% csrf_token %}
        {{forms}}
        <button type="submit">Ingresar</button>
    </form>
</div>
{% else %}
<div class="faltaIngreso">
    <h1>No hay ningun sobre al que ingresar</h1>
</div>

{% endif %}
{% endblock %}