{% extends 'layout/lateral.html' %}
{% load static %}
{% block content %}
<a href="{% url 'crearSobre' %}">Crea un nuevo sobre</a>

{% for sobre in sobres %}
<ul>
    <li>
        {{ sobre.nombre }}
        {{ sobre.saldo }}
        {{ sobre.limite }}
        {{ sobre.porcentaje }}
        <form method="post" action="{% url 'sobresModificar' sobre.id %}">
            {% csrf_token %}
            <button type="submit">Modificar</button>
        </form>
        <form method="post" action="{% url 'sobresEliminar' sobre.id %}">
            {% csrf_token %}
            <button type="submit">Eliminar</button>
        </form>
    </li>
</ul>
{% endfor %}

{% endblock %}