{% extends 'layout/lateral.html' %}
{% load static %}
{% block content %}

{% if sobres %}
<div class="presentacionRetiro">
    {% for sobre in sobres %}
    <div class="presentacionRetiroHijo">
        <p>
            Nombre del sobre:
            {{ sobre.nombre }} <br>
            Saldo:
            {{ sobre.saldo }}
        </p>
    </div>

    {% endfor %}
</div>
<div class="retiro">
    <form action="{% url 'retirarConfirmacion' %}" method="post">
        {% csrf_token %}
        {{forms}}
        <button type="submit">Sacar</button>
    </form>
</div>
{% else %}
<div class="faltaIngreso">
    <h1>No hay ningun sobre del que retirar</h1>
</div>
{% endif %}
{% endblock %}